<h2 class="ui centered header">Kirjoitusarkisto</h2>
<table class="ui table">
    <thead>
        <tr>
            <th>Otsikko</th>
            <th>Luotu</th>
            <% if(req.session.user) { %>
                <th>Tehtävät</th>
            <% } %>
        </tr>
    </thead>
    <% posts.forEach(function(el, index) { %>
        <tr>
            <td><a href="/#post<%=el.id%>"><%= el.subject %></a></td>
            <td><%= sails.moment(el.createdAt).format("DD.MM.YYYY") %></td>
            <% if(req.session.user) { %>
                <td><a class="ui button" href="/blogpost/edit?id=<%= el.id %>">Muokkaa</a><a href="/blogpost/destroy?id=<%= el.id %>" class="ui button">Poista</a></td>
            <% } %>
        </tr>
    <% }); %>
</table>
